<!-- <h1>Awesome </h1> -->
<div class="container">

<h1><%= @current_user.name %>'s Posts</h1>
<hr>
<% @posts.each do |p| %>
  <li><a href=<%= p.link %>><%= p.title %></a>
<span class="glyphs"><%= link_to '', edit_post_path(p.id), :class=>"btn-xs btn-info glyphicon glyphicon-edit" %>
      <%= link_to '', post_path(p.id), :method => :delete, :data => { confirm: "Are you sure?" }, :class=>"btn-xs btn-danger glyphicon glyphicon-trash" %>
      <%= link_to '', post_path(p.id), :method => :show, :class=>"btn-xs btn-success glyphicon glyphicon-search" %>

</span>
</li>
<% end %>
</div>


